/* Using multiple font families */
body {
    font-family: 'Roboto', 'Open Sans', 'Lato', 'Montserrat', sans-serif;
    background-color: #ffffff;
    color: #000000;
}



h1 {
    text-align: center;
    font-size: 3rem;
}

img {
    width: 100%;

}


.blue {
    color: blue;
}

video {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

div.video {
    position: relative;
}

div.video h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

div.landscape {
    position: relative;
}
div.landscape h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2rem;
}

#product-list h2 {
    font-family: 'Montserrat';
}

#product-list p {
    font-family: 'Roboto';
}